<!--Nikola Tesla tribute page. Feel free to comment or make suggestions on my code @ choman7721@gmail.com please include the subject and project. -->

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
h1 {
   font-size: 75px;
 }
 
 h2 {
   font-size: 20px;
   margin: 50px 78px 20px 78px;
 }
 
 h3 {
   margin: 50px 78px 20px 78px;
 }
 
 h4 {
   margin: 50px 78px 20px 78px;
 }
h5 {
  margin: auto auto auto 80px;
}

 
 li {
   font-size: 15px;
  margin: auto 400px auto 400px;
 }
 
 .larger-image {
   width: 1000px;
 }
 
 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 .center {
   text-align: center;
 }
 
 .margin {
   margin: 20px 65px 20px 65px;
 }
 
 .container-fluid {
   #
 }

<div class="container-fluid">
  <div class="text-center">


    <h1><b>Nikola Tesla</b></h1>

    <figure>
      <img class="larger-image" src="http://www.ancient-code.com/wp-content/uploads/2016/06/Nikola-Tesla-Reading.jpg" alt="Nikola Tesla reading in front of his spiral coil">
      <figcaption>Nikola Tesla reading in front of his spiral coil</figcaption>
    </figure>

    <h2>Nikola Tesla was born in the Austrian Empire on July 10th, 1856. He was a Serbian-American inventor, electrical engineer, mechanical engineer, physicist, and futurist. He is mostly known for his contributing to the design of alternating current (AC) electrical systems.
The following is a list of life events and accomplishments for Nikola Tesla:</h2>

    <li>July 9th, 1856 - Born in Austrian Empire
      <li>January 1st, 1882 - Moves to the United States
        <li>November 7th, 1884 - Meets George Westinghouse
          <li>May 12th, 1886 - Created a model of the A.C. motor
            <li>August 16th, 1891 - Creates Tesla coil
              <li>June 16th, 1893 - Creates the idea of Wireless Power
                <li>October 13th, 1898 - Creates the remote control
                  <li>July 11th, 1934 - Creates the "Death Beam"
                    <li>January 2nd, 1943 - On this day an italian inventor named Gulieno Marconi was proven to have been using 17 of Tesla's patents. They were reversed and given back to Tesla.
                      <li>January 7th, 1943 - Nikola Tesla dies at the age of 86
  </div>
 
  <h3>   "We have soon to have everywhere smoke annihilators, dust absorbers, ozonizers, sterilizers of water, air, food and clothing, and accident preventers on streets, elevated roads and in subways. It will become next to impossible to contract disease germs or get hurt in the city, and country folk will go to town to rest and get well."</h3>

  <h4>  "It will soon be possible to transmit wireless messages around the world so simply that any individual can carry and operate his own apparatus."</h4>

  <h5><b>Nikola Tesla</b></h5>

</div>
  <p class="center">Here is a link to more info about <a href="https://en.wikipedia.org/wiki/Nikola_Tesla">Nikola Tesla</a></p>
  
</div>